@model EnvironmentApp.Models.Standard
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header"><h4>
               @Model.Application.appName<br>
            </h4>
        </div>
        <div class="card-body">
            @*<h5 class="card-title">Dark card title</h5>*@
            <h5 class="card-text">Server Name: @Model.sName</h5>
            <p class="card-text text-black-50">Environment Name: @Model.Application.appEnvName</p>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="card-text text-black-50">vCPU: @Model.sVCPU</p>
                    <p class="card-text text-black-50">RAM: @Model.sRAM</p>
                    <p class="card-text text-black-50">IP: @Model.sIP</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="card-text text-black-50">OS: @Model.sOS</p>
                    <p class="card-text text-black-50">Size: @Model.sSize</p>
                    <p class="card-text text-black-50">SQL Version: @Model.sSQLVers</p>
                </div>
            </div>
            <p><br /></p>
            <p class="card-text text-black-50">Description: @Model.sDescription</p>
            <p class="card-text text-black-50">Notes: @Model.sNotes</p>
        </div>
    </div>
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
