@model IEnumerable<EnvironmentApp.Models.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.appCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appEnvName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appPhase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appOU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appPool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appPOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appSnowTeam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.appCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appEnvName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appPhase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appOU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appPool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appPOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appSnowTeam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.appCode }) |
            @Html.ActionLink("Details", "Details", new { id = item.appCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.appCode })
        </td>
    </tr>
}

</table>
