@model EnvironmentApp.Models.Drive

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Drive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diskCSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskCSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskDSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskDSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskDName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskDName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskESize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskESize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskFSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskFSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskKSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskKSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskKName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskKName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskLSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskLSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskMSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskMSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskMName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskPSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskPSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskPName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskPName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskTSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskTSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskTName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskTName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskSSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskSSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskSName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard.appCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard.appCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
